<ion-view view-title="A propos">

<ion-content>
	<div class="row">
		<div class="col card item item-list">
			<div class="item item-avatar">
				<img src="img/jenaye.jpg" alt="">
				<h2>Mike</h2>
				<p>P'tit branleur</p>
			</div>

		</div>
		<div class="col card item item-list">
		<div class="item item-avatar">
			<img src="../img/guillaume.jpg" alt="">
				<h2>Guillaume</h2>
				<p>Master!!!</p>
			</div>
		</div>

	</div>
	<div class="row">
	<div class="card">
  <div class="item item-text-wrap">
  	Premier pas dans la programmation mobile à l'aide d'angularjs 1 et du framework ionic 1.
Nous avons pu, à partir d'un projet "blank", crée un side menu, rajouter de nouvelles pages ainsi que créer une module de recherche en Ajax filtré par mail depuis un tableau d'objets (json).
<br/>
Utilisation de gitkraken, et apprentisage des features/releases.
<br/>
Nous pouvons désormais nous consacrer à un nouveau projet sous Angularjs 2 couplé à ionic 2 avec notre propre API.

  </div>
</div>
</div>
</ion-content>
</ion-view>