<ion-view view-title="Accueil">

<ion-content class="padding mf_bg">
<!-- <p>
	ui-sref correspond a un lien vers le state ( la route )
	<a ui-sref="search">Recherche</a>
</p> -->
<div class="card ">
  <div class="item item-divider mf_card">
    Première App avec ionic 1 ( ANGULAR 1 )
  </div>
  <div class="item item-text-wrap">
   <img src="img/me.png" class="item-thumbnail-center" style="width:100%; height:auto; "><br/>
 <blockquote>  <p style="text-align:justify;">Cette app, intégre un systeme de recherche en ajax, disponible dans l'onglet "Recherche" avec un filtre par email</p></blockquote>
  </div>
  <div class="item item-divider mf_card">
   Sortie le 22/03/17
  </div>

</div>
</ion-content>
</ion-view>